hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: arial, sans-serif;
  color: red;
}
h2  {
  text-align: center;
  font-family: arial, sans-serif;
  color: red;
}

h3 {  
  text-align: center;
  font-style: italic;
  font-family: arial, sans-serif;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:hover {
  background-color: lightblue;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.list-font1 {
  font-family: arial, sans-serif;
  text-align: center;
  list-style-position: inside;
  list-style-type: square;
}

.list-font2 {
  font-family: arial, sans-serif;
  text-align: center;
  list-style-position: inside;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}